.newsletter-signup {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 100%;
    margin: auto;
}

.newsletter-signup h2 {
    margin-bottom: 20px;
    color: #333;
}

.newslater {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(200, 200, 200, 0.8));
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.newslater-view:hover {
  background: linear-gradient(135deg, rgba(255, 255, 255, 1), rgba(220, 220, 220, 1));
  transform: scale(1.05);
}

.newslater-view:active {
  transform: scale(0.95);
}

.newsletter-signup input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    color: white;
}

.newsletter-signup label {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.newsletter-signup button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 104%;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.newsletter-signup button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.newsletter-signup button:active {
    transform: scale(0.95);
}

.success-message {
    color: green;
    margin-top: 10px;
    font-weight: bold;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}

.newsletter-signup button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modal p {
    color: black;
}

.modal button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.modal button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.modal button:active {
    transform: scale(0.95);
}

.modal::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}